In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = "/content/drive/MyDrive/addresses.csv"
df_bonus = pd.read_csv(path)

In [ ]:
print(df_bonus)

                    John       Doe  ...   NJ  08075
0                   Jack  McGinnis  ...   PA   9119
1          John "Da Man"    Repici  ...   NJ   8075
2                Stephen     Tyler  ...   SD  91234
3                    NaN  Blankman  ...   SD    298
4  Joan "the bone", Anne       Jet  ...   CO    123

[5 rows x 6 columns]

In [ ]:
text_path = "/content/drive/MyDrive/sample3.txt"
text = pd.read_table(text_path)
print(text)

                         Quod equidem non reprehendo;
0   Lorem ipsum dolor sit amet, consectetur adipis...
1   Iam id ipsum absurdum, maximum malum neglegi. ...
2                           Quis istum dolorem timet?
3   Summus dolor plures dies manere non potest? Di...
4   Ex eorum enim scriptis et institutis cum omnis...
5   Quod si ita est, sequitur id ipsum, quod te ve...
6   Quem si tenueris, non modo meum Ciceronem, sed...
7   Stulti autem malorum memoria torquentur, sapie...
8   Esse enim quam vellet iniquus iustus poterat i...
9   Quae autem natura suae primae institutionis ob...
10  Verum tamen cum de rebus grandioribus dicas, i...
11  Hoc est non modo cor non habere, sed ne palatu...
12  Voluptatem cum summum bonum diceret, primum in...
13                              Idemne, quod iucunde?
14  Haec mihi videtur delicatior, ut ita dicam, mo...

In [ ]:
excel_path= "/content/drive/MyDrive/ir211wk12sample.xls"
excel= pd.ExcelFile(excel_path)
print(excel)

<pandas.io.excel._base.ExcelFile object at 0x7f2713c68f50>

In [ ]:
import urllib
from urllib.request import urlretrieve

url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv'

urlretrieve(url, 'airtravel.csv')

df_web = pd.read_csv('airtravel.csv')

print(df_web)

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [ ]:
#!pip install db-sqlite3
import sqlite3

In [ ]:
import pandas as pd

data = pd.read_csv (r'/content/drive/MyDrive/username.csv')   
#df = pd.DataFrame(data)

print(df)

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [ ]:
    import sqlite3
    conn = sqlite3.connect('my_data.db')
    c = conn.cursor()

In [ ]:
    c.execute('''CREATE TABLE users (user_id int, username text)''')

In [ ]:
users = pd.read_csv(r'/content/drive/MyDrive/username.csv')
# write the data to a sqlite table
users.to_sql('username', conn, if_exists='append', index = False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
data = pd.read_csv (r'/content/drive/MyDrive/username.csv')  
print(data)

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [ ]:
   n= c.execute('''SELECT * FROM username''').fetchall()

In [ ]:
print(n)

[('booker12;9012;Rachel;Booker',), ('grey07;2070;Laura;Grey',), ('johnson81;4081;Craig;Johnson',), ('jenkins46;9346;Mary;Jenkins',), ('smith79;5079;Jamie;Smith',)]